@model PresentationLayer.Models.LocationUpdateModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>LocationUpdateModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumbers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumbers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FaxNumbers)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FaxNumbers)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LocationType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LocationType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Specialists)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Specialists)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rating)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rating)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Area2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Area2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Latitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Latitude)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Longitude)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Longitude)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
