@model PresentationLayer.Models.SearchViewModel

@{
    ViewBag.Title = "Tìm kiếm địa điểm";
}

<div style="margin: 5px">

    <form class="form-horizontal" role="form">
        <div class="col-md-7">
            <div class="input-group">
                <div class="col-md-5">
                    <select id="ddlSearchOptions" name="ddlSearchOptions" class="form-control">
                        <option value="Name">Tên địa điểm</option>
                        <option value="Address">Địa chỉ</option>
                        <option value="Specialist">Chuyên khoa</option>
                    </select>
                </div>
                <input id="txtSearchId" type="text" class="form-control"
                       name="txtSearch" placeholder="Nhập từ khóa cần tìm" value="@Model.SearchValue"/>
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" name="btnSearch" onclick="Search()">                       
                        <span class="glyphicon glyphicon-search"></span>
                        Tìm
                    </button>
                </span>            
            </div>
        </div>
    </form>

    <div id="divDisplayItems">
        <table class="table">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Specialists)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Rating)
                </th>
            </tr>

            @foreach (var item in Model.Locations)
            {
                <tr>
                    <td>
                        <li>
                            @{
                                string url = "../Search/ViewOnMaps?id=" + item.Id;
                                <a href="@url" onclick="GoToMapsFromLocationName()"> @Html.DisplayFor(modelItem => item.Name)</a>
                            }
                        </li>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Specialists)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Rating)
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

<script src="~/Scripts/Customs/SearchScripts.js"></script>